.food-card-wrapper{
    width: 25vw;
    height: 40vh;
    position: relative;
    margin: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.food-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    box-shadow: 12px 10px 8px  rgb(0,0,0, 0.4);
}
.food-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.food-card-text{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    padding-right: 2vw;
    background: linear-gradient(to bottom, rgb(18, 18, 18, 0), rgb(18, 18, 18, 0.7));
}
.food-card-text p{
    color: #fff;
    font-size: clamp(1rem, 1.4vw, 4rem);
}

@media screen and (max-width: 950px) {
    .food-card-wrapper{
        width: 20rem;
        height: 30vh;
    }
}
@media screen and (max-width: 770px){
    .food-card-wrapper{
        width: 70vw;
        height: 30vh;
    }
}