.hero-container{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.hero-container::-webkit-scrollbar{
    display: none;
}
.hero-title{
    height: 75vh;
    padding: 7rem 15rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.hero-title h1{
    width: 100vw;
    font-size: 10vw;
    text-align: center;
    font-weight: 300;
    margin: 5% 0;
    pointer-events: none;
}
.hero-text{
    width: 20vw;
    margin-left: 6%;
    height: 100vh;
}
.hero-text p{
    font-size: 1.5vw;
}
.hero-img{
    position: absolute;
    width: 60vw;
    height: 80%;
    top: 79vh;
    right: 0;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px){
    .hero-title h1{
      font-size: 20vw;
    }
    .hero-text{
        width: 40vw;
        margin-top: -20vh;
    }
    .hero-text p{
        font-size: 4vw;
    }
}

@media screen and (max-width: 450px){
    .hero-title h1{
        margin-right: 12vw;
    }
}

@media screen and (max-width: 395px){
    .hero-title h1{
        margin-right: 30vw;
    }
}


.subpage-wrapper-2{
    width: 100vw;
}